body {
  margin: 0;
  padding: 30px;
  font-family: $font-family-sans-serif;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.uoc-logo {
  display: block;
  margin-bottom: 20px;
  width: 300px;
  height: auto;
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 36px;
  font-weight: 700;
  color: $uoc-corporate;
}

/*******************************************/
.header {
  text-align: center;
}

.header__logo {
  display: block;
  margin-bottom: 20px;
  width: 300px;
  height: auto;
}

.curriculum {
  background-color: #ffff;
  color: black;
  display: flex;
  box-shadow: 1px 3px 10px;
}

.curriculum-padding {
  padding: 30px;
}

.curriculum__left {
  flex: 1;
}

.curriculum__right {
  flex: 2;
  background-color: lightgray;
}

.curriculum__image {
  width: 100%;
  display: block;
  border-radius: 100%;
  border: solid 1px darkslategrey;
}

.text-center {
  text-align: center;
}

.section__title {
  color: darkslategrey;
  //border-bottom: solid;
}

.section__title:after {
  content: '';
  border-bottom: solid darkslategrey;
  display: block;
  width: 10%;
  border-radius: 100%;
  margin: 15px 0;
}

.no-list {
  list-style: none;
  padding: 0;
}

.text-bold {
  font-weight: bold;
}

.footer {
  margin: 40px -30px -46px -30px;
  padding: 2px;
  background-color: $uoc-corporate;
  color: $uoc-bg;
}

@media (max-width: 600px) {
  .curriculum {
    display: block;
  }

  .section__item {
    margin-bottom: 10px;
  }

  .section__list {
    padding-left: 20px;
  }
}
